extends layout
block footer

	.footer-wrapper
		img(src="../images/dc_roasters_105x65_lt.png")
		.dc-links
			span#blog.link blog
			span#contact.link contact
			span#suppliers.link suppliers
		.horizontal-rule
		p &copy2015 DC Coffee Roasters
		p terms &nbsp&nbsp&nbsp privacy
		.tiny-text
			p Creative Commons images courtesy of
			david pacey &nbsp&nbsp&nbsp dave bleasdale &nbsp&nbsp&nbsp dennis tang &nbsp&nbsp&nbsp mahmoud99725