extends layout
block footer

	.footer-wrapper
		img(src="../images/coolbeansLogo.png")
		//- .dc-links
		//- 	span#blog.link blog
		//- 	span#contact.link contact
		//- 	span#suppliers.link suppliers
		.horizontal-rule
		p &copy2015 Stephen Tiedemann
		//- p terms &nbsp&nbsp&nbsp privacy
		//- .tiny-text
		//- 	p Creative Commons images courtesy of
		//- 	david pacey &nbsp&nbsp&nbsp dave bleasdale &nbsp&nbsp&nbsp dennis tang &nbsp&nbsp&nbsp mahmoud99725