extends layout
block content

    .navigation-bar
        .navigation-bar-left
            a(href='/')
                img(src='./images/dc_roasters_200x124_lt.png')
        .navigation-bar-right
            if (!username)
                a(href="/login")
                    button.btn.btn-success(type="submit") Login
                //- a(href="/register")    
                //-     button.btn.btn-primary(type="submit") Register
            if (username)
                p Welcome back, 
                    a(href="/account") #{username}! &nbsp 
                        span.glyphicon.glyphicon-edit(ariahidden="true")
                a(href="/logout") 
                    button.btn.btn-danger(type="submit") Logout
    if (username)
        .navigation-bar-small
            .icon-holder
                a(href="/")
                    .one.active
                    .icons.active 1. Home
                a(href="/choices")
                    .two
                    .icons 2. Options
                a(href="/shipping")
                    .three
                    .icons 3. Delivery
                a(href="/payment")
                    .four
                    .icons 4. Payment
    .coffee-cup-background
        .coffee-cup-text
            h1 A better way to grind
            h4 Freshly roasted coffee beans delivered 
            h4 weekly to your door.
    .we-source-coffee
        .spacer
        .we-source-coffee-text
            h3 We source coffee beans around the World and roast them fresh daily
            p Cool Beans is a boutique coffee shop that specializes in selling only the finest coffee in the world.  No matter how successful we may become we will always consider ourselves to be a boutique outfit. Why you may ask? When someone thinks about a boutique company they associate it with a premium product.  They are willing to spend a bit more for it and when their friends ask them where they got their coffee they will be able to say with pride it came from a boutique company.  Naturally, everyone will think it tastes better because of it.
            p It is with a deep sense of responsibility that we source our product and great care is taken in how we deliver it to you, our most valued customer.  Even though our coffee beans come from the same fields as much cheaper coffee, it is our mission to make you think it is far better than the competition. We accomplish this with sophisticated packaging and overpaying on designer labels, which gives you the conviction to pull out your wallet and purchase with great pride.
    .how-it-works 
        p how it works
    .arrow-holder
        .arrow-down
    .coffee-bags
        p.title 1. We get the coffee
        p Each bean is hand selected
        p Each bean is measured for precise size
        p Each bean is examined under a microscope so only the best are chosen
    .how-it-works2
        .bag-arrow
            img(src="../images/CoffeeBags_corner.png")
        .rotated-picture
            img(src="../images/grower.jpg")
        .coffee-grower
            p.title 2. We pick up the coffee
            p.text We place the coffee in bags made with the finest Italian leather
            p.text Each bag is then transported in a perfecty refrigerated truck
            p.text Every six hours the bags are rotated for uniformity
    .arrow-holder
        .arrow-down
    .how-it-works3
        .coffee-cup
            p.title 3. You drink the coffee
            p.text The coffee hits your lips
            p.text You swallow the coffee
            p.text You want to buy more of the coffee
        .coffee-cup-image
            img(src="../images/cupSteam.jpg")
    .arrow-holder2
        .arrow-down2
    .get-started-section
        a(href="/register") 
            button.get-started(type="button") Get Started
extends footer
