extends layout
block content
    .navigation-bar
        .navigation-bar-left
            a(href='/')
                img.wide(src='./images/coolbeansLogo.png')
            a(href='/')
                img.narrow(src='./images/coffeeLogoStacked.png')
        .navigation-bar-right
            if (!username)
                a(href="/login") 
                    button.btn.btn-green(type="submit") log in
                a(href="/register")
                    button.btn.btn-white(type="submit") sign up
                //- a(href="/register")    
                //-     button.btn.btn-primary(type="submit") Register
            if (username)
                p Welcome back, 
                    a(href="/account") #{username}! &nbsp 
                        span.glyphicon.glyphicon-edit(ariahidden="true")
                a(href="/logout") 
                    button.btn.btn-danger(type="submit") Logout
    if (username)
        .navigation-bar-small
            .icon-holder
                a(href="/")
                    .one.active
                    .icons.active 1. Home
                a(href="/choices")
                    .two
                    .icons 2. Options
                a(href="/shipping")
                    .three
                    .icons 3. Delivery
                a(href="/payment")
                    .four
                    .icons 4. Payment
    if (username)
        .coffee-cup-background2
            .coffee-cup-text
              h1 A better way to grind
              h4 Freshly roasted coffee beans delivered 
              h4 weekly to your door.
    else
        .coffee-cup-background
            .coffee-cup-text
               h1 A better way to grind
               h4 Freshly roasted coffee beans delivered 
               h4 weekly to your door.
    .how-it-works 
        p How it works
    .arrow-holder
        .arrow-down
    .coffee-bags
        p.title 1. We get the coffee
        p Each bean is hand selected
        p Each bean is measured for precise size
        p Each bean is tenderly caressed
    .how-it-works2
        .bag-arrow
            img(src="../images/CoffeeBags_corner.png")
        .rotated-picture
            img(src="../images/grower.jpg")
        .coffee-grower
            p.title 2. We pick up the coffee
            p.text We place the coffee in silk bags
            p.text Each bag is transported in climate-controlled trucks
            p.text Every six hours the bags are rotated for uniformity
    .arrow-holder
        .arrow-down
    .how-it-works3
        .coffee-cup
            p.title 3. You drink the coffee
            p.text The coffee hits your lips
            p.text You swallow the coffee
            p.text You want to buy more of the coffee
        .coffee-cup-image
            img(src="../images/cupSteam.jpg")
    .arrow-holder2
        .arrow-down2
    .get-started-section
        a(href="/register") 
            button.get-started(type="button") Get Started
    .learn-more
        h3 Want to know more about us?
        a(href="/ourhistory")
            button.ourhistory Our Story
    extends footer
