extends layout

block content
    
    #intro-page-wrapper
        #intro-page
            img(id='logo', src='../images/logo.png')
            h1 Lets Buy Some Coffee
            p This is an ecommerce site built using Express and Mongoose.  It allows a user to register, set up an account, and make purchases.  The user's profile is managed in a database and they can delete their account.  The site makes use of Stripe to allow payments.
            a(href='/')
                button#intro-button View Project
