extends layout

block content
  .navigation-bar
    .navigation-bar-left
        img(src='./images/dc_roasters_200x124_lt.png')
    .navigation-bar-right
        if (!username)
            a(href="/login")
                button.btn.btn-success(type="submit") Login
            a(href="/register")    
                button.btn.btn-primary(type="submit") Register
        if (username)
            p Welcome, 
                a(href="/account") #{username}!
            a(href="/logout") 
                button.btn.btn-danger(type="submit") Logout

  
  .register-wrapper
     .container
       h1 Registration
       if (err)
        p.error
          |#{err.message}
       p.lead Pick a username and password
       br
       form(role='form', action="/register",method="post", style='max-width: 300px;')
         .form-group
             input.form-control(type='text', name="username", placeholder='Enter Username')
         .form-group
           input.form-control(type='password', name="password", placeholder='Password')
         button.btn.btn-success(type='submit') Submit
         &nbsp;
         a(href='/')
           button.btn.btn-primary(type="button") Cancel
  extends footer