extends layout

block content

    .navigation-bar
        .navigation-bar-left
            a(href='/')
                img(src='./images/coolbeansLogo.png')
        .navigation-bar-right
            if (!username)
                a(href="/login")
                    button.btn.btn-success(type="submit") Login
                a(href="/register")    
                    button.btn.btn-primary(type="submit") Register
            if (username)
                p Welcome back, 
                    a(href="/account") #{username}! &nbsp
                        span.glyphicon.glyphicon-edit(ariahidden="true")
                a(href="/logout") 
                    button.btn.btn-danger(type="submit") Logout
        .navigation-bar-small
            .icon-holder
                a(href="/")
                    .one
                    .icons 1. Home
                a(href="/choices")
                    .two
                    .icons 2. Options
                a(href="/shipping")
                    .three
                    .icons 3. Delivery
                a(href="/payment")
                    .four
                    .icons 4. Payment
    #thankyou.container
        #thankyou-wrapper
            img(src="../images/happyface.png")
            #thankyou-header Thank you for your order!
            p We will e-mail you at #{emailaddress} when your coffee has shipped

extends footer