/* line 1, ../../../assets/compass/sass/views/cancellation.scss */
#cancellation {
  width: 60%;
  margin: auto;
  padding-bottom: 136px;
}
/* line 5, ../../../assets/compass/sass/views/cancellation.scss */
#cancellation #cancellation-wrapper {
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
}
/* line 9, ../../../assets/compass/sass/views/cancellation.scss */
#cancellation #cancellation-wrapper #cancellation-header {
  margin: 40px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
