/* line 1, ../../../assets/compass/sass/views/intro.scss */
#intro-page-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.95);
  top: 0%;
  left: 0%;
  z-index: 1000000000;
  color: #f2f2f2;
}

/* line 13, ../../../assets/compass/sass/views/intro.scss */
#intro-page {
  text-align: center;
  overflow: scroll;
}

/* line 18, ../../../assets/compass/sass/views/intro.scss */
#intro-page h1 {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 25, ../../../assets/compass/sass/views/intro.scss */
#intro-page p {
  line-height: 125%;
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 37, ../../../assets/compass/sass/views/intro.scss */
#intro-page button {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 225px;
  padding: 15px;
  color: white;
  background-color: orange;
  margin: auto;
  font-size: 18px;
  margin-top: 30px;
  border: 0px;
  letter-spacing: 3px;
}

/* line 52, ../../../assets/compass/sass/views/intro.scss */
#intro-page button:hover {
  cursor: pointer;
  background-color: #ffc04d;
}
