/* line 1, ../../assets/compass/sass/views/thankyou.scss */
#thankyou {
  width: 60%;
  margin: auto;
}
/* line 4, ../../assets/compass/sass/views/thankyou.scss */
#thankyou #thankyou-wrapper {
  margin-bottom: 60px;
  margin-top: 150px;
  text-align: center;
}
/* line 8, ../../assets/compass/sass/views/thankyou.scss */
#thankyou #thankyou-wrapper #thankyou-header {
  margin: 40px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}

/* line 1, ../../assets/compass/sass/views/payment.scss */
#payment {
  margin-bottom: 60px;
}
/* line 3, ../../assets/compass/sass/views/payment.scss */
#payment #payment-wrapper {
  margin-top: 60px;
}
/* line 5, ../../assets/compass/sass/views/payment.scss */
#payment #payment-wrapper #payment-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
}
/* line 11, ../../assets/compass/sass/views/payment.scss */
#payment #payment-wrapper #payment-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}

/* line 21, ../../assets/compass/sass/views/payment.scss */
.payment-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
/* line 26, ../../assets/compass/sass/views/payment.scss */
.payment-block p {
  font-size: 18px;
}
/* line 29, ../../assets/compass/sass/views/payment.scss */
.payment-block h2.payment-label {
  float: left;
}
/* line 32, ../../assets/compass/sass/views/payment.scss */
.payment-block .choices-holder {
  clear: both;
  width: 50%;
  float: left;
}
/* line 36, ../../assets/compass/sass/views/payment.scss */
.payment-block .choices-holder .total {
  font-size: 24px;
  font-weight: bold;
}
/* line 41, ../../assets/compass/sass/views/payment.scss */
.payment-block .data-holder {
  width: 50%;
  float: left;
}
/* line 44, ../../assets/compass/sass/views/payment.scss */
.payment-block .data-holder p.margin {
  margin-bottom: 30px;
}
/* line 47, ../../assets/compass/sass/views/payment.scss */
.payment-block .data-holder p.total {
  font-size: 24px;
  font-weight: bold;
}

/* line 55, ../../assets/compass/sass/views/payment.scss */
.button-holder button.stripe-button-el {
  background-color: blue !important;
  background-image: none;
}

/* line 62, ../../assets/compass/sass/views/payment.scss */
.paymentsubmit {
  text-align: center;
}
/* line 64, ../../assets/compass/sass/views/payment.scss */
.paymentsubmit input {
  margin: 10px;
  border: 0;
  border-radius: 5px;
  background-color: red;
  color: white;
  height: 32px;
  width: 119px;
}

/* line 1, ../../assets/compass/sass/views/cancellation.scss */
#cancellation {
  width: 60%;
  margin: auto;
}
/* line 4, ../../assets/compass/sass/views/cancellation.scss */
#cancellation #cancellation-wrapper {
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
}
/* line 8, ../../assets/compass/sass/views/cancellation.scss */
#cancellation #cancellation-wrapper #cancellation-header {
  margin: 40px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}

/* line 1, ../../assets/compass/sass/views/account.scss */
#account {
  margin-bottom: 60px;
}
/* line 3, ../../assets/compass/sass/views/account.scss */
#account #account-wrapper {
  margin-top: 60px;
}
/* line 5, ../../assets/compass/sass/views/account.scss */
#account #account-wrapper #account-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
}

/* line 14, ../../assets/compass/sass/views/account.scss */
.account-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
/* line 19, ../../assets/compass/sass/views/account.scss */
.account-block h2.account-label {
  float: left;
}
/* line 22, ../../assets/compass/sass/views/account.scss */
.account-block p.edit {
  float: left;
  margin-top: 30px;
  margin-left: 15px;
}
/* line 27, ../../assets/compass/sass/views/account.scss */
.account-block .choices-holder {
  clear: both;
  width: 25%;
  float: left;
}
/* line 32, ../../assets/compass/sass/views/account.scss */
.account-block .data-holder {
  width: 75%;
  float: left;
}
/* line 35, ../../assets/compass/sass/views/account.scss */
.account-block .data-holder p.margin {
  margin-bottom: 30px;
}

/* line 41, ../../assets/compass/sass/views/account.scss */
.button-holder {
  text-align: center;
}

/* line 1, ../../assets/compass/sass/views/shipping.scss */
#shipping {
  margin-bottom: 60px;
}
/* line 3, ../../assets/compass/sass/views/shipping.scss */
#shipping #shipping-wrapper {
  margin-top: 60px;
}
/* line 5, ../../assets/compass/sass/views/shipping.scss */
#shipping #shipping-wrapper #shipping-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
}
/* line 11, ../../assets/compass/sass/views/shipping.scss */
#shipping #shipping-wrapper #shipping-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}

/* line 21, ../../assets/compass/sass/views/shipping.scss */
.shipping-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 28, ../../assets/compass/sass/views/shipping.scss */
.button-holder {
  clear: all;
  text-align: left;
}

/* line 1, ../../assets/compass/sass/views/choices.scss */
body {
  background-color: #edebe6;
}

/* line 5, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}
/* line 8, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper #choices-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
/* line 14, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper #choices-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
/* line 21, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-image {
  text-align: center;
}
/* line 23, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-image img {
  max-width: 100%;
}
/* line 27, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
/* line 33, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .button-holder {
  text-align: center;
}
/* line 36, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-lower-text, #plan-wrapper .choices-help-text {
  margin: 10px 0 10px;
}

/* line 1, ../../assets/compass/sass/views/login.scss */
.login-wrapper {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 40px;
  background-color: #edebe6;
}
/* line 6, ../../assets/compass/sass/views/login.scss */
.login-wrapper .container form {
  margin: auto;
}
/* line 8, ../../assets/compass/sass/views/login.scss */
.login-wrapper .container form button {
  margin-right: 5px;
  margin-left: 5px;
}

/* line 1, ../../assets/compass/sass/views/home.scss */
.navigation-bar {
  height: 80px;
  background-color: #3a2f27;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
/* line 8, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-left {
  float: left;
  width: 50%;
}
/* line 11, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-left img {
  margin-left: 100px;
  margin-top: 5px;
  height: 70px;
}
/* line 17, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right {
  float: left;
  width: 50%;
  text-align: right;
}
/* line 21, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right a {
  text-decoration: none;
  color: white;
}
/* line 25, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right button {
  margin-top: 20px;
  margin-right: 40px;
  height: 40px;
  width: 80px;
}
/* line 31, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right p {
  margin-top: 30px;
  color: white;
  margin-right: 20px;
  display: inline-block;
}
/* line 37, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right .btn-danger {
  margin-top: 0px;
}

/* line 44, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small {
  margin-top: 80px;
  clear: all;
  height: 40px;
  background-color: #3a2f27;
  border-top: 2px solid #a08855;
  border-bottom: 2px solid #a08855;
  padding-left: 10%;
  padding-right: 10%;
}
/* line 53, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder {
  background-color: #6d5219;
  margin-top: 2px;
  height: 32px;
  border-radius: 4px;
  padding-left: 10%;
}
/* line 59, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .one {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px 0px;
}
/* line 68, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .icons {
  float: left;
  color: #a08855;
  line-height: 32px;
  height: 32px;
  width: 20%;
  text-align: left;
}
/* line 76, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .icons.active {
  color: white;
}
/* line 79, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .one.active {
  background: url("../images/menu-steps-active.png") no-repeat;
  text-align: center;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px 0px;
}
/* line 88, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .two {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -30px;
}
/* line 97, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .two.active {
  background: url("../images/menu-steps-active.png") no-repeat;
  text-align: center;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -30px;
}
/* line 108, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .three {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -60px;
}
/* line 118, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .three.active {
  text-align: center;
  background: url("../images/menu-steps-active.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -60px;
}
/* line 128, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .four {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -90px;
}
/* line 138, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .four.active {
  text-align: center;
  background: url("../images/menu-steps-active.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -90px;
}

/* line 151, ../../assets/compass/sass/views/home.scss */
.coffee-cup-background {
  height: 300px;
  background-image: url("../images/CupInBeans.jpg");
  background-position: 0px -200px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
/* line 158, ../../assets/compass/sass/views/home.scss */
.coffee-cup-background .coffee-cup-text {
  padding-top: 80px;
  padding-left: 75px;
}

/* line 164, ../../assets/compass/sass/views/home.scss */
.we-source-coffee {
  background-color: #edebe6;
}
/* line 166, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .spacer {
  height: 40px;
  width: 100%;
  background-color: #edebe6;
}
/* line 171, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .we-source-coffee-text {
  background: white;
  width: 60%;
  padding: 20px;
  margin-left: 20%;
}
/* line 172, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .we-source-coffee-text h3 {
  margin-bottom: 10px;
}

/* line 182, ../../assets/compass/sass/views/home.scss */
.how-it-works {
  background-color: #edebe6;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: #196d46;
  text-align: center;
}
/* line 189, ../../assets/compass/sass/views/home.scss */
.how-it-works p {
  text-transform: uppercase;
}

/* line 194, ../../assets/compass/sass/views/home.scss */
.arrow-holder {
  position: relative;
}
/* line 196, ../../assets/compass/sass/views/home.scss */
.arrow-holder .arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #edebe6;
  position: absolute;
  margin-left: 50%;
  left: -30px;
  top: 0px;
}

/* line 211, ../../assets/compass/sass/views/home.scss */
.coffee-bags {
  height: 400px;
  background-image: url("../images/CoffeeBags.jpg");
  background-size: cover;
}
/* line 215, ../../assets/compass/sass/views/home.scss */
.coffee-bags .title {
  padding-top: 75px;
  font-size: 40px;
  color: white;
  padding-left: 75px;
}
/* line 221, ../../assets/compass/sass/views/home.scss */
.coffee-bags p {
  color: white;
  padding-left: 120px;
}

/* line 248, ../../assets/compass/sass/views/home.scss */
.how-it-works2 {
  height: 400px;
  background-color: #edebe6;
}
/* line 251, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .bag-arrow {
  text-align: center;
}
/* line 254, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .rotated-picture {
  margin-left: 50px;
  padding-top: 25px;
  transform: rotate(-10deg);
  float: left;
}
/* line 259, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .rotated-picture img {
  height: 250px;
  border: 10px solid white;
}
/* line 264, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower {
  float: left;
  padding-top: 25px;
  margin-left: 5%;
  color: #3a2f27;
}
/* line 269, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower p.title {
  font-size: 40px;
}
/* line 272, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower p.text {
  padding-left: 50px;
}

/* line 279, ../../assets/compass/sass/views/home.scss */
.how-it-works3 {
  clear: both;
  height: 400px;
  background-color: black;
  padding-left: 75px;
}
/* line 284, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup {
  float: left;
  width: 40%;
  padding-top: 75px;
  color: white;
}
/* line 289, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup p.title {
  font-size: 40px;
}
/* line 292, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup p.text {
  padding-left: 50px;
}
/* line 296, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup-image {
  float: left;
  width: 60%;
}

/* line 304, ../../assets/compass/sass/views/home.scss */
.arrow-holder2 {
  position: relative;
}
/* line 306, ../../assets/compass/sass/views/home.scss */
.arrow-holder2 .arrow-down2 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid black;
  position: absolute;
  margin-left: 50%;
  left: -30px;
  top: 0px;
}

/* line 319, ../../assets/compass/sass/views/home.scss */
.get-started-section {
  height: 200px;
  background-color: #edebe6;
  text-align: center;
}
/* line 323, ../../assets/compass/sass/views/home.scss */
.get-started-section button.get-started {
  background-color: #196d46;
  height: 60px;
  width: 200px;
  margin-top: 70px;
  color: white;
  font-size: 24px;
}

/* line 1, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper {
  background-color: #3a2f27;
  text-align: center;
  padding-bottom: 50px;
}
/* line 5, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper img {
  margin-top: 25px;
}
/* line 8, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .dc-links {
  margin-top: 10px;
}
/* line 10, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .dc-links .link {
  color: #edebe6;
  padding: 25px;
}
/* line 15, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .horizontal-rule {
  margin: 15px 0px 15px 25%;
  height: 2px;
  background-color: #6d5219;
  width: 50%;
}
/* line 21, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper p {
  color: #edebe6;
}
/* line 24, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .tiny-text {
  font-size: 10px;
  color: #6d5219;
}
/* line 25, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .tiny-text p {
  color: #6d5219;
}

/* line 1, ../../assets/compass/sass/views/register.scss */
.register-wrapper {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 40px;
  background-color: #edebe6;
}
/* line 6, ../../assets/compass/sass/views/register.scss */
.register-wrapper .container form {
  margin: auto;
}
/* line 8, ../../assets/compass/sass/views/register.scss */
.register-wrapper .container form button {
  margin-right: 5px;
  margin-left: 5px;
}
