/* line 1, ../../assets/compass/sass/views/home.scss */
.navigation-bar {
  height: 80px;
  background-color: #3a2f27;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
/* line 8, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-left {
  float: left;
  width: 50%;
}
/* line 11, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-left img {
  margin-left: 100px;
  margin-top: 5px;
  height: 70px;
}
/* line 17, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right {
  float: left;
  width: 50%;
  text-align: right;
}
/* line 21, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right a {
  text-decoration: none;
  color: white;
}
/* line 25, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right button {
  margin-top: 20px;
  margin-right: 40px;
  height: 40px;
  width: 80px;
}
/* line 31, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right p {
  margin-top: 30px;
  color: white;
  margin-right: 20px;
  display: inline-block;
}
/* line 37, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right .btn-danger {
  margin-top: 0px;
}

/* line 44, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small {
  margin-top: 80px;
  clear: all;
  height: 40px;
  background-color: #3a2f27;
  border-top: 2px solid #a08855;
  border-bottom: 2px solid #a08855;
  padding-left: 10%;
  padding-right: 10%;
}
/* line 53, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder {
  background-color: #6d5219;
  margin-top: 2px;
  height: 32px;
  border-radius: 4px;
  padding-left: 10%;
}
/* line 59, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .one {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px 0px;
}
/* line 68, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .icons {
  float: left;
  color: #a08855;
  line-height: 32px;
  height: 32px;
  width: 20%;
  text-align: left;
}
/* line 76, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .two {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -30px;
}
/* line 87, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .three {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -60px;
}
/* line 97, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .four {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -90px;
}

/* line 110, ../../assets/compass/sass/views/home.scss */
.coffee-cup-background {
  height: 300px;
  background-image: url("../images/CupInBeans.jpg");
  background-position: 0px -200px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
/* line 117, ../../assets/compass/sass/views/home.scss */
.coffee-cup-background .coffee-cup-text {
  padding-top: 80px;
  padding-left: 75px;
}

/* line 123, ../../assets/compass/sass/views/home.scss */
.we-source-coffee {
  background-color: #edebe6;
}
/* line 125, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .spacer {
  height: 40px;
  width: 100%;
  background-color: #edebe6;
}
/* line 130, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .we-source-coffee-text {
  background: white;
  width: 60%;
  padding: 20px;
  margin-left: 20%;
}
/* line 131, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .we-source-coffee-text h3 {
  margin-bottom: 10px;
}

/* line 141, ../../assets/compass/sass/views/home.scss */
.how-it-works {
  background-color: #edebe6;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: #196d46;
  text-align: center;
}
/* line 148, ../../assets/compass/sass/views/home.scss */
.how-it-works p {
  text-transform: uppercase;
}

/* line 153, ../../assets/compass/sass/views/home.scss */
.arrow-holder {
  position: relative;
}
/* line 155, ../../assets/compass/sass/views/home.scss */
.arrow-holder .arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #edebe6;
  position: absolute;
  margin-left: 50%;
  left: -30px;
  top: 0px;
}

/* line 170, ../../assets/compass/sass/views/home.scss */
.coffee-bags {
  height: 400px;
  background-image: url("../images/CoffeeBags.jpg");
  background-size: cover;
}
/* line 174, ../../assets/compass/sass/views/home.scss */
.coffee-bags .title {
  padding-top: 75px;
  font-size: 40px;
  color: white;
  padding-left: 75px;
}
/* line 180, ../../assets/compass/sass/views/home.scss */
.coffee-bags p {
  color: white;
  padding-left: 120px;
}

/* line 207, ../../assets/compass/sass/views/home.scss */
.how-it-works2 {
  height: 400px;
  background-color: #edebe6;
}
/* line 210, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .bag-arrow {
  text-align: center;
}
/* line 213, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .rotated-picture {
  margin-left: 50px;
  padding-top: 25px;
  transform: rotate(-10deg);
  float: left;
}
/* line 218, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .rotated-picture img {
  height: 250px;
  border: 10px solid white;
}
/* line 223, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower {
  float: left;
  padding-top: 25px;
  margin-left: 5%;
  color: #3a2f27;
}
/* line 228, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower p.title {
  font-size: 40px;
}
/* line 231, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower p.text {
  padding-left: 50px;
}

/* line 238, ../../assets/compass/sass/views/home.scss */
.how-it-works3 {
  clear: both;
  height: 400px;
  background-color: black;
  padding-left: 75px;
}
/* line 243, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup {
  float: left;
  width: 40%;
  padding-top: 75px;
  color: white;
}
/* line 248, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup p.title {
  font-size: 40px;
}
/* line 251, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup p.text {
  padding-left: 50px;
}
/* line 255, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup-image {
  float: left;
  width: 60%;
}

/* line 263, ../../assets/compass/sass/views/home.scss */
.arrow-holder2 {
  position: relative;
}
/* line 265, ../../assets/compass/sass/views/home.scss */
.arrow-holder2 .arrow-down2 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid black;
  position: absolute;
  margin-left: 50%;
  left: -30px;
  top: 0px;
}

/* line 278, ../../assets/compass/sass/views/home.scss */
.get-started-section {
  height: 200px;
  background-color: #edebe6;
  text-align: center;
}
/* line 282, ../../assets/compass/sass/views/home.scss */
.get-started-section button.get-started {
  background-color: #196d46;
  height: 60px;
  width: 200px;
  margin-top: 70px;
  color: white;
  font-size: 24px;
}

/* line 1, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper {
  background-color: #3a2f27;
  text-align: center;
  padding-bottom: 50px;
}
/* line 5, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper img {
  margin-top: 25px;
}
/* line 8, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .dc-links {
  margin-top: 10px;
}
/* line 10, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .dc-links .link {
  color: #edebe6;
  padding: 25px;
}
/* line 15, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .horizontal-rule {
  margin: 15px 0px 15px 25%;
  height: 2px;
  background-color: #6d5219;
  width: 50%;
}
/* line 21, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper p {
  color: #edebe6;
}
/* line 24, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .tiny-text {
  font-size: 10px;
  color: #6d5219;
}
/* line 25, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .tiny-text p {
  color: #6d5219;
}

/* line 1, ../../assets/compass/sass/views/register.scss */
.register-wrapper {
  text-align: center;
  margin-bottom: 40px;
}
/* line 4, ../../assets/compass/sass/views/register.scss */
.register-wrapper .container form {
  margin: auto;
}
