/* line 1, ../../assets/compass/sass/views/thankyou.scss */
#thankyou {
  width: 60%;
  margin: auto;
}
/* line 4, ../../assets/compass/sass/views/thankyou.scss */
#thankyou #thankyou-wrapper {
  margin-bottom: 60px;
  margin-top: 150px;
  text-align: center;
}
/* line 8, ../../assets/compass/sass/views/thankyou.scss */
#thankyou #thankyou-wrapper #thankyou-header {
  margin: 40px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}

/* line 1, ../../assets/compass/sass/views/payment.scss */
#payment {
  margin-bottom: 60px;
}
/* line 3, ../../assets/compass/sass/views/payment.scss */
#payment #payment-wrapper {
  margin-top: 60px;
}
/* line 5, ../../assets/compass/sass/views/payment.scss */
#payment #payment-wrapper #payment-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
}
/* line 11, ../../assets/compass/sass/views/payment.scss */
#payment #payment-wrapper #payment-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}

/* line 21, ../../assets/compass/sass/views/payment.scss */
.payment-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
/* line 26, ../../assets/compass/sass/views/payment.scss */
.payment-block p {
  font-size: 18px;
}
/* line 29, ../../assets/compass/sass/views/payment.scss */
.payment-block h2.payment-label {
  float: left;
}
/* line 32, ../../assets/compass/sass/views/payment.scss */
.payment-block .choices-holder {
  clear: both;
  width: 50%;
  float: left;
}
/* line 36, ../../assets/compass/sass/views/payment.scss */
.payment-block .choices-holder .total {
  font-size: 24px;
  font-weight: bold;
}
/* line 41, ../../assets/compass/sass/views/payment.scss */
.payment-block .data-holder {
  width: 50%;
  float: left;
}
/* line 44, ../../assets/compass/sass/views/payment.scss */
.payment-block .data-holder p.margin {
  margin-bottom: 30px;
}
/* line 47, ../../assets/compass/sass/views/payment.scss */
.payment-block .data-holder p.total {
  font-size: 24px;
  font-weight: bold;
}

/* line 55, ../../assets/compass/sass/views/payment.scss */
.button-holder button.stripe-button-el {
  background-color: blue !important;
  background-image: none;
}

/* line 62, ../../assets/compass/sass/views/payment.scss */
.paymentsubmit {
  text-align: center;
}
/* line 64, ../../assets/compass/sass/views/payment.scss */
.paymentsubmit input {
  margin: 10px;
  border: 0;
  border-radius: 5px;
  background-color: red;
  color: white;
  height: 32px;
  width: 119px;
}

/* line 1, ../../assets/compass/sass/views/cancellation.scss */
#cancellation {
  width: 60%;
  margin: auto;
}
/* line 4, ../../assets/compass/sass/views/cancellation.scss */
#cancellation #cancellation-wrapper {
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
}
/* line 8, ../../assets/compass/sass/views/cancellation.scss */
#cancellation #cancellation-wrapper #cancellation-header {
  margin: 40px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}

/* line 1, ../../assets/compass/sass/views/account.scss */
#account {
  margin-bottom: 60px;
}
/* line 3, ../../assets/compass/sass/views/account.scss */
#account #account-wrapper {
  margin-top: 60px;
}
/* line 5, ../../assets/compass/sass/views/account.scss */
#account #account-wrapper #account-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
}

/* line 14, ../../assets/compass/sass/views/account.scss */
.account-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
/* line 19, ../../assets/compass/sass/views/account.scss */
.account-block h2.account-label {
  float: left;
}
/* line 22, ../../assets/compass/sass/views/account.scss */
.account-block p.edit {
  float: left;
  margin-top: 30px;
  margin-left: 15px;
}
/* line 27, ../../assets/compass/sass/views/account.scss */
.account-block .choices-holder {
  clear: both;
  width: 75%;
  float: left;
}
/* line 32, ../../assets/compass/sass/views/account.scss */
.account-block .data-holder {
  width: 25%;
  float: left;
}
/* line 35, ../../assets/compass/sass/views/account.scss */
.account-block .data-holder p.margin {
  margin-bottom: 30px;
}

/* line 41, ../../assets/compass/sass/views/account.scss */
.button-holder {
  text-align: center;
}
/* line 44, ../../assets/compass/sass/views/account.scss */
.button-holder #myModal .modal-dialog {
  width: 30%;
}
/* line 46, ../../assets/compass/sass/views/account.scss */
.button-holder #myModal .modal-dialog .modal-content {
  background-color: #edebe6;
}
/* line 49, ../../assets/compass/sass/views/account.scss */
.button-holder #myModal .modal-dialog .modal-footer {
  text-align: left;
}

/* line 1, ../../assets/compass/sass/views/shipping.scss */
#shipping {
  margin-bottom: 60px;
}
/* line 3, ../../assets/compass/sass/views/shipping.scss */
#shipping #shipping-wrapper {
  margin-top: 60px;
}
/* line 5, ../../assets/compass/sass/views/shipping.scss */
#shipping #shipping-wrapper #shipping-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
}
/* line 11, ../../assets/compass/sass/views/shipping.scss */
#shipping #shipping-wrapper #shipping-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}

/* line 21, ../../assets/compass/sass/views/shipping.scss */
.shipping-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 28, ../../assets/compass/sass/views/shipping.scss */
.button-holder {
  clear: all;
  text-align: left;
}

/* line 33, ../../assets/compass/sass/views/shipping.scss */
h3.warning {
  text-align: center;
  color: red;
}

/* line 1, ../../assets/compass/sass/views/choices.scss */
body {
  background-color: #edebe6;
}

/* line 5, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}
/* line 8, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper #choices-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
/* line 14, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper #choices-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
/* line 21, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-image {
  text-align: center;
}
/* line 23, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-image img {
  max-width: 100%;
}
/* line 27, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
/* line 33, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .button-holder {
  text-align: center;
}
/* line 36, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper .choices-lower-text, #plan-wrapper .choices-help-text {
  margin: 10px 0 10px;
}
/* line 39, ../../assets/compass/sass/views/choices.scss */
#plan-wrapper h3.warning {
  text-align: center;
  color: red;
}

/* line 1, ../../assets/compass/sass/views/login.scss */
.login-wrapper {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 40px;
  background-color: #edebe6;
}
/* line 6, ../../assets/compass/sass/views/login.scss */
.login-wrapper .container form {
  margin: auto;
}
/* line 8, ../../assets/compass/sass/views/login.scss */
.login-wrapper .container form button {
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

/* line 1, ../../assets/compass/sass/views/home.scss */
#intro-page-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.95);
  top: 0%;
  left: 0%;
  z-index: 1000000000;
  color: #f2f2f2;
}

/* line 13, ../../assets/compass/sass/views/home.scss */
#intro-page {
  text-align: center;
  overflow: scroll;
}

/* line 18, ../../assets/compass/sass/views/home.scss */
#intro-page h1 {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 25, ../../assets/compass/sass/views/home.scss */
#intro-page p {
  line-height: 125%;
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 37, ../../assets/compass/sass/views/home.scss */
#intro-page button {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 225px;
  padding: 15px;
  color: white;
  background-color: orange;
  margin: auto;
  font-size: 18px;
  margin-top: 30px;
  border: 0px;
  letter-spacing: 3px;
}

/* line 52, ../../assets/compass/sass/views/home.scss */
#intro-page button:hover {
  cursor: pointer;
  background-color: #ffc04d;
}

/* line 57, ../../assets/compass/sass/views/home.scss */
.navigation-bar {
  height: 80px;
  background-color: #3a2f27;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
/* line 64, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-left {
  float: left;
  width: 50%;
}
/* line 67, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-left img {
  margin-left: 60px;
  margin-top: 5px;
  height: 70px;
}
/* line 73, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right {
  float: left;
  width: 50%;
  text-align: right;
}
/* line 77, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right a {
  text-decoration: none;
  color: white;
}
/* line 81, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right button {
  margin-top: 20px;
  margin-right: 60px;
  height: 40px;
  width: 80px;
}
/* line 87, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right button.need-account {
  margin-top: 0px;
}
/* line 90, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right p {
  margin-top: 30px;
  color: white;
  margin-right: 20px;
  display: inline-block;
}
/* line 96, ../../assets/compass/sass/views/home.scss */
.navigation-bar .navigation-bar-right .btn-danger {
  margin-top: 0px;
}

/* line 104, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small {
  margin-top: 80px;
  clear: all;
  height: 40px;
  background-color: #3a2f27;
  border-top: 2px solid #a08855;
  border-bottom: 2px solid #a08855;
  padding-left: 10%;
  padding-right: 10%;
}
/* line 113, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder {
  background-color: #6d5219;
  margin-top: 2px;
  height: 32px;
  border-radius: 4px;
  padding-left: 10%;
}
/* line 119, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .one {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px 0px;
}
/* line 128, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .icons {
  float: left;
  color: #a08855;
  line-height: 32px;
  height: 32px;
  width: 20%;
  text-align: left;
}
/* line 136, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .icons.active {
  color: white;
}
/* line 139, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .icons:hover {
  color: white;
}
/* line 142, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .one.active {
  background: url("../images/menu-steps-active.png") no-repeat;
  text-align: center;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px 0px;
}
/* line 151, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .two {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -30px;
}
/* line 160, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .two.active {
  background: url("../images/menu-steps-active.png") no-repeat;
  text-align: center;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -30px;
}
/* line 171, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .three {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -60px;
}
/* line 181, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .three.active {
  text-align: center;
  background: url("../images/menu-steps-active.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -60px;
}
/* line 191, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .four {
  text-align: center;
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -90px;
}
/* line 201, ../../assets/compass/sass/views/home.scss */
.navigation-bar-small .icon-holder .four.active {
  text-align: center;
  background: url("../images/menu-steps-active.png") no-repeat;
  background-size: 35px, auto;
  height: 30px;
  float: left;
  width: 5%;
  background-position: 0px -90px;
}

/* line 214, ../../assets/compass/sass/views/home.scss */
.coffee-cup-background {
  height: 400px;
  background-image: url("../images/CupInBeans.jpg");
  background-position: 0px -200px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  margin-top: 80px;
  width: 100%;
}
/* line 223, ../../assets/compass/sass/views/home.scss */
.coffee-cup-background .coffee-cup-text {
  padding-top: 80px;
  padding-left: 75px;
}

/* line 229, ../../assets/compass/sass/views/home.scss */
.we-source-coffee {
  background-color: #edebe6;
  width: 100%;
}
/* line 232, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .spacer {
  height: 40px;
  width: 100%;
  background-color: #edebe6;
}
/* line 237, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .we-source-coffee-text {
  background: white;
  width: 70%;
  padding: 20px;
  margin-left: 15%;
  font-size: 16px;
}
/* line 238, ../../assets/compass/sass/views/home.scss */
.we-source-coffee .we-source-coffee-text h3 {
  width: 70%;
  margin-bottom: 10px;
  margin-left: 15%;
  text-align: center;
}

/* line 252, ../../assets/compass/sass/views/home.scss */
.how-it-works {
  width: 100%;
  background-color: #edebe6;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: #196d46;
  text-align: center;
}
/* line 260, ../../assets/compass/sass/views/home.scss */
.how-it-works p {
  text-transform: uppercase;
}

/* line 265, ../../assets/compass/sass/views/home.scss */
.arrow-holder {
  position: relative;
  width: 100%;
}
/* line 268, ../../assets/compass/sass/views/home.scss */
.arrow-holder .arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #edebe6;
  position: absolute;
  margin-left: 50%;
  left: -30px;
  top: 0px;
}

/* line 283, ../../assets/compass/sass/views/home.scss */
.coffee-bags {
  width: 100%;
  height: 400px;
  background-image: url("../images/CoffeeBags.jpg");
  background-size: cover;
}
/* line 288, ../../assets/compass/sass/views/home.scss */
.coffee-bags .title {
  padding-top: 75px;
  font-size: 40px;
  color: white;
  padding-left: 75px;
}
/* line 294, ../../assets/compass/sass/views/home.scss */
.coffee-bags p {
  color: white;
  padding-left: 120px;
}

/* line 301, ../../assets/compass/sass/views/home.scss */
.how-it-works2 {
  width: 100%;
  height: 400px;
  background-color: #edebe6;
}
/* line 305, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .bag-arrow {
  text-align: center;
}
/* line 308, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .rotated-picture {
  margin-left: 50px;
  padding-top: 25px;
  transform: rotate(-10deg);
  float: left;
}
/* line 313, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .rotated-picture img {
  height: 250px;
  border: 10px solid white;
}
/* line 318, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower {
  float: left;
  padding-top: 25px;
  margin-left: 5%;
  color: #3a2f27;
}
/* line 323, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower p.title {
  font-size: 40px;
}
/* line 326, ../../assets/compass/sass/views/home.scss */
.how-it-works2 .coffee-grower p.text {
  padding-left: 50px;
}

/* line 333, ../../assets/compass/sass/views/home.scss */
.how-it-works3 {
  width: 100%;
  clear: both;
  height: 400px;
  background-color: black;
  padding-left: 75px;
}
/* line 339, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup {
  float: left;
  width: 40%;
  padding-top: 75px;
  color: white;
}
/* line 344, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup p.title {
  font-size: 40px;
}
/* line 347, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup p.text {
  padding-left: 50px;
}
/* line 351, ../../assets/compass/sass/views/home.scss */
.how-it-works3 .coffee-cup-image {
  float: left;
  width: 60%;
}

/* line 359, ../../assets/compass/sass/views/home.scss */
.arrow-holder2 {
  width: 100%;
  position: relative;
}
/* line 362, ../../assets/compass/sass/views/home.scss */
.arrow-holder2 .arrow-down2 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid black;
  position: absolute;
  margin-left: 50%;
  left: -30px;
  top: 0px;
}

/* line 375, ../../assets/compass/sass/views/home.scss */
.get-started-section {
  width: 100%;
  height: 200px;
  background-color: #edebe6;
  text-align: center;
}
/* line 380, ../../assets/compass/sass/views/home.scss */
.get-started-section button.get-started {
  background-color: #196d46;
  height: 60px;
  width: 200px;
  margin-top: 70px;
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 645px) {
  /* line 392, ../../assets/compass/sass/views/home.scss */
  .navigation-bar .navigation-bar-left {
    width: 25%;
  }
  /* line 394, ../../assets/compass/sass/views/home.scss */
  .navigation-bar .navigation-bar-left img {
    margin-left: 20px;
  }
  /* line 398, ../../assets/compass/sass/views/home.scss */
  .navigation-bar .navigation-bar-right {
    width: 75%;
  }
  /* line 400, ../../assets/compass/sass/views/home.scss */
  .navigation-bar .navigation-bar-right button {
    margin-right: 20px;
  }
}
/* line 1, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper {
  background-color: #3a2f27;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
}
/* line 6, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper img {
  margin-top: 25px;
}
/* line 9, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .dc-links {
  margin-top: 10px;
}
/* line 11, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .dc-links .link {
  color: #edebe6;
  padding: 25px;
}
/* line 16, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .horizontal-rule {
  margin: 15px 0px 15px 25%;
  height: 2px;
  background-color: #6d5219;
  width: 50%;
}
/* line 22, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper p {
  color: #edebe6;
}
/* line 25, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .tiny-text {
  font-size: 10px;
  color: #6d5219;
}
/* line 26, ../../assets/compass/sass/views/footer.scss */
.footer-wrapper .tiny-text p {
  color: #6d5219;
}

/* line 1, ../../assets/compass/sass/views/register.scss */
.register-wrapper {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #edebe6;
}
/* line 6, ../../assets/compass/sass/views/register.scss */
.register-wrapper h1, .register-wrapper p {
  text-align: center;
}
/* line 9, ../../assets/compass/sass/views/register.scss */
.register-wrapper .container form {
  margin: auto;
}
/* line 11, ../../assets/compass/sass/views/register.scss */
.register-wrapper .container form button {
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
/* line 16, ../../assets/compass/sass/views/register.scss */
.register-wrapper .container form .form-group label {
  text-align: left;
}
/* line 20, ../../assets/compass/sass/views/register.scss */
.register-wrapper .button-holder {
  text-align: center;
}
