.footer-wrapper{
	background-color: #bfbfbf;
	text-align: center;
	padding-bottom: 20px;
	width: 100%;
	img{
		max-width: 100%;
		margin-top: 25px;
	}
	.horizontal-rule{
		margin: 15px 0px 15px 35%;
		height: 1px;
		// background-color: $brown-md;
		background-color: white;
		width: 30%;
	}
	p{
		color: $cream;
	}
	
}