.login-wrapper{
	padding-top: 100px;
	text-align: center;
	padding-bottom: 40px;
	background-color: $cream;
	position: relative;
	min-height: 90vh;
	.container form{
		margin: auto;
		width: 400px;
		button{
			margin-top: 30px;
			margin-right: 5px;
			margin-left: 5px;
			height: 40px;
			width: 120px;
		}
		.btn-register{
			background-color: white;
			color: #333;
			text-transform: uppercase;
			width: 120px;
			height: 40px;
		}
		.btn-cancel{
			background-color: #333;
			color: white;
			text-transform: uppercase;
			width: 120px;
			height: 40px;
		}
		.form-group label{
			text-align: left;
		}
	}
	.button-holder{
		text-align: center;
	}
}

@media screen and (max-width: 1000px){
	.login-wrapper{
		.container form{
			width: 80%;
			margin: auto;
			.form-group input{
				height: 60px;	
			}
			.btn-register, .btn-cancel{
				width: 150px;
				height: 80px;
			}
		}
	}
}