.our-history-wrapper{
	margin-top: 130px;
	width: 60%;
	margin-left: 20%;
	padding: 20px;
	border: 1px solid #b3b3b3;
	background-color: white;
	h3{
		text-align: center;
	}
}

@media screen and (max-width: 800px){
	.our-history-wrapper{
		width: 80%;
		margin-left: 10%;
	}
}