#thankyou{
	width: 60%;
	margin: auto;
	position: relative;
	min-height: 90vh;
	#thankyou-wrapper{
		margin-bottom: 50px;
		margin-top: 180px;
		text-align: center;
		#thankyou-header{
			margin: 50px 0 10px 0;
			text-align: center;
		}

	}
}

.footer-wrapper2{
	background-color: #bfbfbf;
	text-align: center;
	padding-bottom: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	img{
		max-width: 100%;
		margin-top: 25px;
	}
	.horizontal-rule{
		margin: 15px 0px 15px 35%;
		height: 1px;
		// background-color: $brown-md;
		background-color: white;
		width: 30%;
	}
	p{
		color: $cream;
	}
	
}